.body{
    height: 100vh;
    background-color: rgb(200, 75, 250);
    text-align: center;
    justify-content: center;
}

span{
    font-size: xxx-large;
    font-weight: bold;
    pointer-events: none;
}

